default:
  image: docker:stable
  tags:
    - "backend"

variables:
  CI_DOCKER_REPO: $CI_REGISTRY/witpakul/witpakul-ii-backend

stages:
  - build docker image
  - push docker image

build image:
  stage: build docker image
  script:
    - docker build -t $CI_DOCKER_REPO:CI_COMMIT_SHORT_SHA -f Dockerfile .
  when: on_success

before_script:
  - docker info
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

push docker image:
  stage: push docker image
  script:
    - docker push $CI_DOCKER_REPO:CI_COMMIT_SHORT_SHA
  # only:
  #   refs:
  #     - master
