default:
  image:
    name: docker/compose:latest
    entrypoint: ["/bin/sh", "-c"]
  tags:
    - "backend"

variables:
  CI_DOCKER_REPO: $CI_REGISTRY/witpakul/witpakul-ii-backend

stages:
  - build docker image
  - push docker image
  - pull docker image
  - deploy docker container
  - release

build image:
  stage: build docker image
  script:
    - docker build -t $CI_DOCKER_REPO:latest -f Dockerfile .
  when: on_success

before_script:
  - docker info
  - docker version
  - docker-compose version
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY

push docker image:
  stage: push docker image
  script:
    - docker push $CI_DOCKER_REPO:latest

pull image:    
  stage: pull docker image
  script:
    - docker-compose down
    - docker rmi $(docker images | grep "<none>" | awk '{print $3}')
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
    - docker pull $CI_DOCKER_REPO:latest

deploy container:
  stage: deploy docker container
  script:
    - docker-compose up -d

release_job:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - echo 'running release_job'

  release:
   name: 'Release $CI_COMMIT_TAG'
   description: 'Created using the release-cli $EXTRA_DESCRIPTION'
   tag_name: '$CI_COMMIT_TAG'
   milestones:
      - 'm1'
      - 'm2'
      - 'm3'

  # only:
  #   refs:
  #     - master
  #     - develop
