version: "3.3"
services:
    backend:
        build: .
        image: backend
        container_name: WitPaKul_Backend
        volumes:
           - ./data:/data
        ports:
           - "4000:4000"
networks:
    default:
        external:
            name: witpakul_network 