version: "3.3"
services:
    backend:
        build: .
        image: backend
        volumes:
           - ./pictures:/pictures
        ports:
           - "4000:4000"
 networks:
    default:
        external:
            name: witpakul_network 